
/*------VARIABLES------*/
:root {

    --bg-color-blue: blue;
    --bg-color-green: green;
    --bg-color-yellow: yellow;

    
}

/*------COMMON PARTS------*/

/*------SPECIFIED PARTS BY ID------*/
.box {

    
    background-color: var(--bg-color-blue);
    border: 1px solid white;

}

.underbox {

    background-color: var(--bg-color-green);
    border: 1px solid white;
    height: calc(100vh / 12 - 2em);

}

section {

    margin-bottom: 2rem;

}

.yellowbox {

    
    background-color: var(--bg-color-yellow);
    border: 1px solid black;

}